.index-header {
   color: #fff;
   text-align: center;
   padding-top: 40px;
}

.info-login {
   font-size: 25px;
}

.img {
   width: 100%;
   max-width: 250px;
   height: 100%;
}

label {
   font-size: 16px;
   color: #020000;
}

.alert {
   padding: 15px 35px;
}

footer {
   font-size: 16px;
   text-align: center;
   margin-top: 10%;
}
.nav-link{
   color: rgb(255, 255, 255)!important;
}

#sidenavAccordion{
   /* background-image: linear-gradient(rgb(228, 238, 237), rgb(201, 204, 209))!important; */
   background-color: rgb(18, 82, 124)!important;
}
/* body{
   background-color: darkgreen!important;
} */

/* .form {
   background-color: blue;
} */